In [1]:
import os
import pandas as pd
import datetime
from datetime import datetime
import math
import numpy as np



df_whole = pd.DataFrame()
ride_file = "G:\\My Drive\\Cindy\\IB11\\Math IA\\ridedatanew\\rides.csv"
df_ride = pd.read_csv(ride_file, header=0)
meta_file = "G:\\My Drive\\Cindy\\IB11\\Math IA\\Metadata\\metadata.csv"
df_meta = pd.read_csv(meta_file, header=0)

Display the result from source file

In [4]:
print(df_ride.tail(15))
print(df_meta.head(15))

         Unnamed: 0        date          datetime  SACTMIN  SPOSTMIN  \
2861011      298691  12/28/2021  2021-12-28 21:30      NaN      55.0
2861012      298692  12/28/2021  2021-12-28 21:39      NaN      45.0
2861013      298693  12/28/2021  2021-12-28 21:48      NaN      45.0
2861014      298694  12/28/2021  2021-12-28 21:54      NaN      45.0
2861015      298695  12/28/2021  2021-12-28 22:00      NaN      45.0
2861016      298696  12/28/2021  2021-12-28 22:06      NaN      45.0
2861017      298697  12/28/2021  2021-12-28 22:12      NaN      45.0
2861018      298698  12/28/2021  2021-12-28 22:18      NaN      45.0
2861019      298699  12/28/2021  2021-12-28 22:18      NaN      40.0
2861020      298700  12/28/2021  2021-12-28 22:30      NaN      40.0
2861021      298701  12/28/2021  2021-12-28 22:36      NaN      40.0
2861022      298702  12/28/2021  2021-12-28 22:39      NaN      35.0
2861023      298703  12/28/2021  2021-12-28 22:48      NaN      35.0
2861024      298704  12/28/2021  2021-12-28 22:54      NaN      35.0
2861025      298705  12/28/2021  2021-12-28 22:58      NaN      15.0

                  Ride oritime  Hour  Mins NewTime  Waittime
2861011  jungle_cruise   21:30    21    30   21:30      55.0
2861012  jungle_cruise   21:39    21    39   21:30      45.0
2861013  jungle_cruise   21:48    21    48   21:45      45.0
2861014  jungle_cruise   21:54    21    54   21:45      45.0
2861015  jungle_cruise   22:00    22     0   22:00      45.0
2861016  jungle_cruise   22:06    22     6   22:00      45.0
2861017  jungle_cruise   22:12    22    12   22:00      45.0
2861018  jungle_cruise   22:18    22    18   22:15      45.0
2861019  jungle_cruise   22:18    22    18   22:15      40.0
2861020  jungle_cruise   22:30    22    30   22:30      40.0
2861021  jungle_cruise   22:36    22    36   22:30      40.0
2861022  jungle_cruise   22:39    22    39   22:30      35.0
2861023  jungle_cruise   22:48    22    48   22:45      35.0
2861024  jungle_cruise   22:54    22    54   22:45      35.0
2861025  jungle_cruise   22:58    22    58   22:45      15.0
          DATE WDW_TICKET_SEASON  DAYOFWEEK  DAYOFYEAR  WEEKOFYEAR  \
0   01/01/2015               NaN          5          0           0
1   01/02/2015               NaN          6          1           0
2   01/03/2015               NaN          7          2           0
3   01/04/2015               NaN          1          3           1
4   01/05/2015               NaN          2          4           1
5   01/06/2015               NaN          3          5           1
6   01/07/2015               NaN          4          6           1
7   01/08/2015               NaN          5          7           1
8   01/09/2015               NaN          6          8           1
9   01/10/2015               NaN          7          9           1
10  01/11/2015               NaN          1         10           2
11  01/12/2015               NaN          2         11           2
12  01/13/2015               NaN          3         12           2
13  01/14/2015               NaN          4         13           2
14  01/15/2015               NaN          5         14           2

    MONTHOFYEAR  YEAR                         SEASON  HOLIDAYPX  HOLIDAYM  \
0             1  2015                 CHRISTMAS PEAK          0         5
1             1  2015                      CHRISTMAS          2         5
2             1  2015                      CHRISTMAS          3         0
3             1  2015                      CHRISTMAS          4         0
4             1  2015                      CHRISTMAS          5         0
5             1  2015                      CHRISTMAS          6         0
6             1  2015                      CHRISTMAS          7         0
7             1  2015                      CHRISTMAS          8         0
8             1  2015                      CHRISTMAS          9         0
9             1  2015                         WINTER         10         0
10            1  2015                         WINTER          9         0
11            1  2015                         WINTER          8         0
12            1  2015                         WINTER          7         0
13            1  2015                         WINTER          6         0
14            1  2015  MARTIN LUTHER KING JUNIOR DAY          5         0

    ... HSFIREWKS  AKPRDDAY AKPRDDT1 AKPRDDT2 AKPRDDN  AKFIREN  AKSHWNGT  \
0   ...         1         0      NaN      NaN     NaN      NaN         0
1   ...         1         0      NaN      NaN     NaN      NaN         0
2   ...         1         0      NaN      NaN     NaN      NaN         0
3   ...         1         0      NaN      NaN     NaN      NaN         0
4   ...         1         0      NaN      NaN     NaN      NaN         0
5   ...         1         0      NaN      NaN     NaN      NaN         0
6   ...         1         0      NaN      NaN     NaN      NaN         0
7   ...         1         0      NaN      NaN     NaN      NaN         0
8   ...         1         0      NaN      NaN     NaN      NaN         0
9   ...         1         0      NaN      NaN     NaN      NaN         0
10  ...         1         0      NaN      NaN     NaN      NaN         0
11  ...         1         0      NaN      NaN     NaN      NaN         0
12  ...         1         0      NaN      NaN     NaN      NaN         0
13  ...         1         0      NaN      NaN     NaN      NaN         0
14  ...         1         0      NaN      NaN     NaN      NaN         0

   AKSHWNT1  AKSHWNT2  AKSHWNN
0       NaN       NaN      NaN
1       NaN       NaN      NaN
2       NaN       NaN      NaN
3       NaN       NaN      NaN
4       NaN       NaN      NaN
5       NaN       NaN      NaN
6       NaN       NaN      NaN
7       NaN       NaN      NaN
8       NaN       NaN      NaN
9       NaN       NaN      NaN
10      NaN       NaN      NaN
11      NaN       NaN      NaN
12      NaN       NaN      NaN
13      NaN       NaN      NaN
14      NaN       NaN      NaN

[15 rows x 181 columns]

In [4]:
df_whole = pd.merge(df_ride, df_meta, left_on='date', right_on='DATE', how='inner')
#df_meta.info()
print(df_whole["YEAR"].head(5))

0    2015
1    2015
2    2015
3    2015
4    2015
Name: YEAR, dtype: int64

In [35]:
Sun_mean=df_whole.loc[df_whole['DAYOFWEEK']==1,'Waittime'].mean()
Thurs_mean=df_whole.loc[df_whole['DAYOFWEEK']==5,'Waittime'].mean()
Sun_std=df_whole.loc[df_whole['DAYOFWEEK']==1,'Waittime'].std()
Thurs_std=df_whole.loc[df_whole['DAYOFWEEK']==5,'Waittime'].std()
no_of_Sun=df_whole.loc[df_whole['DAYOFWEEK'] ==1,'Waittime'].count()
no_of_Thurs=df_whole.loc[df_whole['DAYOFWEEK'] ==5,'Waittime'].count()
print(Sun_mean, Thurs_mean)
print(Sun_std, Thurs_std)
print(no_of_Sun, no_of_Thurs)

30.78498955658843 29.574201150021317
27.062681081816304 26.282697425724614
363387 347124

In [36]:
import numpy
from scipy.stats import norm
def twoSampZ(X1, X2, mudiff, sd1, sd2, n1, n2):
    pooledSE = numpy.sqrt(sd1**2/n1 + sd2**2/n2)
    z = ((X1 - X2) - mudiff)/pooledSE
    pval = 2*(1 - norm.cdf(abs(z)))
    return round(z,3), pval
z,p= twoSampZ(Sun_mean,Thurs_mean,0,Sun_std,Thurs_std,no_of_Sun,no_of_Thurs)
print('z=', z, 'p=',p)

z= 19.131 p= 0.0

In [71]:
First_mean=df_whole.loc[df_whole['MONTHOFYEAR']==1,'Waittime'].mean()
Second_mean=df_whole.loc[df_whole['MONTHOFYEAR']==9,'Waittime'].mean()
First_std=df_whole.loc[df_whole['MONTHOFYEAR']==1,'Waittime'].std()
Second_std=df_whole.loc[df_whole['MONTHOFYEAR']==9,'Waittime'].std()
no_of_First=df_whole.loc[df_whole['MONTHOFYEAR'] ==1,'Waittime'].count()
no_of_Second=df_whole.loc[df_whole['MONTHOFYEAR'] ==9,'Waittime'].count()
print(First_mean, Second_mean)
print(First_std, Second_std)
print(no_of_First, no_of_Second)

33.15984880463564 21.088168272443273
28.711217143339475 18.01401651068867
208472 175097

In [66]:
import numpy
from scipy.stats import norm
def twoSampZ(X1, X2, mudiff, sd1, sd2, n1, n2):
    pooledSE = numpy.sqrt(sd1**2/n1 + sd2**2/n2)
    z = ((X1 - X2) - mudiff)/pooledSE
    pval = 2*(1 - norm.cdf(abs(z)))
    return round(z,3), pval
z,p= twoSampZ(First_mean,Second_mean,0,First_std,Second_std,no_of_First,no_of_Second)
print('z=', z, 'p=',p)

z= 158.407 p= 0.0

In [97]:
#df1 = df_whole[df_whole["MONTHOFYEAR"] <= 9]["MONTHOFYEAR"]
#print(df1.head(5))
pcc = np.corrcoef(df_whole[(df_whole["MONTHOFYEAR"] <= 3) & (df_whole["MONTHOFYEAR"] >=1)]["MONTHOFYEAR"], df_whole[(df_whole["MONTHOFYEAR"] <= 3) & (df_whole["MONTHOFYEAR"] >=1)]["Waittime"])
print(pcc)

[[1.         0.06475724]
 [0.06475724 1.        ]]

In [98]:
dataset_table=pd.crosstab(df_whole[(df_whole["MONTHOFYEAR"] <= 3) & (df_whole["MONTHOFYEAR"] >=1)]["MONTHOFYEAR"],df_whole[(df_whole["MONTHOFYEAR"] <= 3) & (df_whole["MONTHOFYEAR"] >=1)]["Waittime"])
dataset_table

Waittime,0.0,5.0,10.0,15.0,20.0,25.0,30.0,35.0,40.0,45.0,...,195.0,200.0,205.0,210.0,215.0,220.0,225.0,230.0,240.0,250.0
MONTHOFYEAR,,,,,,,,,,,,,,,,,,,,,
1,130,23030,39710,19806,18283,12528,13833,9910,10846,9137,...,16,12,7,14,10,1,0,5,10,1
2,40,19257,34578,17219,15269,12045,13091,10013,10877,9290,...,16,21,5,33,3,0,1,4,0,0
3,118,16890,33265,18548,15660,12889,13018,10521,10662,10798,...,30,23,5,3,2,0,1,0,1,0