In [2]:
import os
import pandas as pd
import datetime
from datetime import datetime
import math
import numpy as np



df_whole = pd.DataFrame()
ride_file = "G:\\My Drive\\Cindy\\IB11\\Math IA\\ridedatanew\\rides.csv"
df_ride = pd.read_csv(ride_file, header=0)
meta_file = "G:\\My Drive\\Cindy\\IB11\\Math IA\\Metadata\\metadata.csv"
df_meta = pd.read_csv(meta_file, header=0)

In [3]:
print(df_ride.head(5))
print(df_meta.head(5))

   Unnamed: 0        date          datetime  SACTMIN  SPOSTMIN        Ride  \
0           0  01/01/2015   2015-01-01 8:35      NaN      10.0  SmallWorld
1           1  01/01/2015   2015-01-01 9:18      NaN      10.0  SmallWorld
2           2  01/01/2015   2015-01-01 9:52      NaN      40.0  SmallWorld
3           3  01/01/2015  2015-01-01 10:57      NaN      20.0  SmallWorld
4           4  01/01/2015  2015-01-01 10:57     33.0       NaN  SmallWorld

  oritime  Hour  Mins NewTime  Waittime
0   08:35     8    35   08:30      10.0
1   09:18     9    18   09:15      10.0
2   09:52     9    52   09:45      40.0
3   10:57    10    57   10:45      20.0
4   10:57    10    57   10:45      20.0
         DATE WDW_TICKET_SEASON  DAYOFWEEK  DAYOFYEAR  WEEKOFYEAR  \
0  01/01/2015               NaN          5          0           0
1  01/02/2015               NaN          6          1           0
2  01/03/2015               NaN          7          2           0
3  01/04/2015               NaN          1          3           1
4  01/05/2015               NaN          2          4           1

   MONTHOFYEAR  YEAR          SEASON  HOLIDAYPX  HOLIDAYM  ... HSFIREWKS  \
0            1  2015  CHRISTMAS PEAK          0         5  ...         1
1            1  2015       CHRISTMAS          2         5  ...         1
2            1  2015       CHRISTMAS          3         0  ...         1
3            1  2015       CHRISTMAS          4         0  ...         1
4            1  2015       CHRISTMAS          5         0  ...         1

   AKPRDDAY AKPRDDT1 AKPRDDT2 AKPRDDN  AKFIREN  AKSHWNGT AKSHWNT1  AKSHWNT2  \
0         0      NaN      NaN     NaN      NaN         0      NaN       NaN
1         0      NaN      NaN     NaN      NaN         0      NaN       NaN
2         0      NaN      NaN     NaN      NaN         0      NaN       NaN
3         0      NaN      NaN     NaN      NaN         0      NaN       NaN
4         0      NaN      NaN     NaN      NaN         0      NaN       NaN

   AKSHWNN
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[5 rows x 181 columns]

In [4]:
df_whole = pd.merge(df_ride, df_meta, left_on='date', right_on='DATE', how='inner')
#df_meta.info()
print(df_whole["YEAR"].head(5))

0    2015
1    2015
2    2015
3    2015
4    2015
Name: YEAR, dtype: int64

In [35]:
Sun_mean=df_whole.loc[df_whole['DAYOFWEEK']==1,'Waittime'].mean()
Thurs_mean=df_whole.loc[df_whole['DAYOFWEEK']==5,'Waittime'].mean()
Sun_std=df_whole.loc[df_whole['DAYOFWEEK']==1,'Waittime'].std()
Thurs_std=df_whole.loc[df_whole['DAYOFWEEK']==5,'Waittime'].std()
no_of_Sun=df_whole.loc[df_whole['DAYOFWEEK'] ==1,'Waittime'].count()
no_of_Thurs=df_whole.loc[df_whole['DAYOFWEEK'] ==5,'Waittime'].count()
print(Sun_mean, Thurs_mean)
print(Sun_std, Thurs_std)
print(no_of_Sun, no_of_Thurs)

30.78498955658843 29.574201150021317
27.062681081816304 26.282697425724614
363387 347124

In [36]:
import numpy
from scipy.stats import norm
def twoSampZ(X1, X2, mudiff, sd1, sd2, n1, n2):
    pooledSE = numpy.sqrt(sd1**2/n1 + sd2**2/n2)
    z = ((X1 - X2) - mudiff)/pooledSE
    pval = 2*(1 - norm.cdf(abs(z)))
    return round(z,3), pval
z,p= twoSampZ(Sun_mean,Thurs_mean,0,Sun_std,Thurs_std,no_of_Sun,no_of_Thurs)
print('z=', z, 'p=',p)

z= 19.131 p= 0.0

In [71]:
First_mean=df_whole.loc[df_whole['MONTHOFYEAR']==1,'Waittime'].mean()
Second_mean=df_whole.loc[df_whole['MONTHOFYEAR']==9,'Waittime'].mean()
First_std=df_whole.loc[df_whole['MONTHOFYEAR']==1,'Waittime'].std()
Second_std=df_whole.loc[df_whole['MONTHOFYEAR']==9,'Waittime'].std()
no_of_First=df_whole.loc[df_whole['MONTHOFYEAR'] ==1,'Waittime'].count()
no_of_Second=df_whole.loc[df_whole['MONTHOFYEAR'] ==9,'Waittime'].count()
print(First_mean, Second_mean)
print(First_std, Second_std)
print(no_of_First, no_of_Second)

33.15984880463564 21.088168272443273
28.711217143339475 18.01401651068867
208472 175097

In [66]:
import numpy
from scipy.stats import norm
def twoSampZ(X1, X2, mudiff, sd1, sd2, n1, n2):
    pooledSE = numpy.sqrt(sd1**2/n1 + sd2**2/n2)
    z = ((X1 - X2) - mudiff)/pooledSE
    pval = 2*(1 - norm.cdf(abs(z)))
    return round(z,3), pval
z,p= twoSampZ(First_mean,Second_mean,0,First_std,Second_std,no_of_First,no_of_Second)
print('z=', z, 'p=',p)

z= 158.407 p= 0.0

In [97]:
#df1 = df_whole[df_whole["MONTHOFYEAR"] <= 9]["MONTHOFYEAR"]
#print(df1.head(5))
pcc = np.corrcoef(df_whole[(df_whole["MONTHOFYEAR"] <= 3) & (df_whole["MONTHOFYEAR"] >=1)]["MONTHOFYEAR"], df_whole[(df_whole["MONTHOFYEAR"] <= 3) & (df_whole["MONTHOFYEAR"] >=1)]["Waittime"])
print(pcc)

[[1.         0.06475724]
 [0.06475724 1.        ]]

In [98]:
dataset_table=pd.crosstab(df_whole[(df_whole["MONTHOFYEAR"] <= 3) & (df_whole["MONTHOFYEAR"] >=1)]["MONTHOFYEAR"],df_whole[(df_whole["MONTHOFYEAR"] <= 3) & (df_whole["MONTHOFYEAR"] >=1)]["Waittime"])
dataset_table

Waittime,0.0,5.0,10.0,15.0,20.0,25.0,30.0,35.0,40.0,45.0,...,195.0,200.0,205.0,210.0,215.0,220.0,225.0,230.0,240.0,250.0
MONTHOFYEAR,,,,,,,,,,,,,,,,,,,,,
1,130,23030,39710,19806,18283,12528,13833,9910,10846,9137,...,16,12,7,14,10,1,0,5,10,1
2,40,19257,34578,17219,15269,12045,13091,10013,10877,9290,...,16,21,5,33,3,0,1,4,0,0
3,118,16890,33265,18548,15660,12889,13018,10521,10662,10798,...,30,23,5,3,2,0,1,0,1,0